# Dossiers
node_modules/
dist/
.cache/

# Fichiers
*.log
*.bak
*.swp
Thumbs.db

# Fichiers d'environnement
.env
.env.local

# Fichiers de dépendances
package-lock.json
yarn.lock

# Fichiers générés par l'utilisateur
.DS_Store
.env.local

# Fichiers de configuration spécifiques à l'éditeur
.vscode/
.idea/

# Fichiers de sauvegarde
*~
*.backup
*.save
*.bak
*.swp
